<p><a href="/addnote">Add a new note</a></p>
<div th:switch="${notes}">
    <h2 th:case="null">No notes yet!</h2>
        <div th:case="*">
            <h2>Notes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="note : ${notes}">
                    <td th:text="${note.title}"></td>
                    <td th:text="${note.description}"></td>
                    <td><a th:href="@{/note/edit/{id}(id=${note.id})}">Edit</a></td>
                    <td><a th:href="@{/note/delete/{id}(id=${note.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
</div>